<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetHandler</servlet-name>
    <servlet-class>com.javaProgram.GetHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHandler</servlet-name>
    <url-pattern>/GetHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostHandler</servlet-name>
    <servlet-class>com.javaProgram.PostHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostHandler</servlet-name>
    <url-pattern>/PostHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginLogoutPage</servlet-name>
    <servlet-class>com.javaProgram.LoginLogoutPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginLogoutPage</servlet-name>
    <url-pattern>/LoginLogoutPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Create_select_and_drop_database</servlet-name>
    <servlet-class>com.javaProgram.Create_select_and_drop_database</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Create_select_and_drop_database</servlet-name>
    <url-pattern>/Create_select_and_drop_database</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutPage</servlet-name>
    <servlet-class>com.javaProgram.LogoutPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutPage</servlet-name>
    <url-pattern>/LogoutPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionTrackingUsingCookie</servlet-name>
    <servlet-class>com.javaProgram.SessionTrackingUsingCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTrackingUsingCookie</servlet-name>
    <url-pattern>/SessionTrackingUsingCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTrackingUsingURLRewrite</display-name>
    <servlet-name>SessionTrackingUsingURLRewrite</servlet-name>
    <servlet-class>com.javaProgram.SessionTrackingUsingURLRewrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTrackingUsingURLRewrite</servlet-name>
    <url-pattern>/SessionTrackingUsingURLRewrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionTrackingUsingHiddenFormField</servlet-name>
    <servlet-class>com.javaProgram.SessionTrackingUsingHiddenFormField</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTrackingUsingHiddenFormField</servlet-name>
    <url-pattern>/SessionTrackingUsingHiddenFormField</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JDBCConnectionsStatementsandResultSets</servlet-name>
    <servlet-class>com.javaProgram.JDBCConnectionsStatementsandResultSets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCConnectionsStatementsandResultSets</servlet-name>
    <url-pattern>/JDBCConnectionsStatementsandResultSets</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitHibernate</servlet-name>
    <servlet-class>com.javaProgram.hibernate.InitHibernate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitHibernate</servlet-name>
    <url-pattern>/InitHibernate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LidtProduct</servlet-name>
    <servlet-class>com.javaProgram.hibernate.LidtProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LidtProduct</servlet-name>
    <url-pattern>/LidtProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log4jServlet</display-name>
    <servlet-name>Log4jServlet</servlet-name>
    <servlet-class>com.javaProgram.hibernet.log4j.Log4jServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log4jServlet</servlet-name>
    <url-pattern>/Log4jServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPromptPage</display-name>
    <servlet-name>AddPromptPage</servlet-name>
    <servlet-class>com.javaProgram.HibernetProgram.AddPromptPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPromptPage</servlet-name>
    <url-pattern>/AddPromptPage</url-pattern>
  </servlet-mapping>
</web-app>