<h1>Questions!</h1>
<div id="qs">
    <div class="card">
        <div class="card-header" id="q1">
            <h5 class="card-title">
                <a href="#a1" data-toggle="collapse" data-parent="#qs" style="font-size: 40px;">
                    Why do we find Java so much in the news?
                </a>
            </h5>
        </div>
        <div id="a1" class="collapse show">
            <div class="card-body" style="font-size: 40px;">
                Because it's a hugely popular programming language.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="q2">
            <h5 class="card-title">
                <a href="#a2" data-toggle="collapse" data-parent="#qs" style="font-size: 40px;">
                    Why are we learning Bootstrap currently?
                </a>
            </h5>
        </div>
        <div id="a2" class="collapse">
            <div class="card-body" style="font-size: 40px;">
                Used by millions of UI developers worldwide.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="q3">
            <h5 class="card-title">
                <a href="#a3" data-toggle="collapse" data-parent="#qs" style="font-size: 40px;">
                    What's the latest version of Java in the market currently?
                </a>
            </h5>
        </div>
        <div id="a3" class="collapse">
            <div class="card-body" style="font-size: 40px;">
                Java 17.
            </div>
        </div>
    </div>

    </div>

    